body{
    font-family: 'Lato', sans-serif !important;
}

/* SCROLL BAR */
* {
  font-family: 'Lato', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color:rgba(190, 187, 220, 0.7);
    border-radius: 20px;
  }
  /* SCROLL BAR */

#classicformpage{
    background-image: url("./images/banner7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
  }

  #classicformpage2 {
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh !important;
    background-attachment: fixed;
  }

  .space{
      letter-spacing: 12px ;
      font-weight: bolder ;
      font-size: 20px;
  }
  
  .serv{
      background-color: #f7c761 !important;
      color: white !important;
  }

@media only screen and (min-width: 760px),(min-device-width: 760px) {
    .divi {
        width: 90% !important;
  }
}

.footer{
  background-color: #f7c761 !important;
}

button.rec-dot{
  background-color: rgb(235, 16, 16);
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
  display: none !important;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgba(235,16,16,0.5);
  display: none !important;
}

.title{
  color:#f7c761;
}
.title-small{
  font-size: 14px;
  font-weight: lighter;
}

.section{
  background-color: #FBFBFB;
  color: black !important;
  text-align: center;
}
.sectionSpace{
  letter-spacing: 10px ;
  font-weight: bolder;
  font-size: 30px;
}

.wedding-card{
  background-color: #FBFBFB !important;
}