/* body{
    font-family: 'Lato', sans-serif !important;
} */

:root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  /* --image: url("../day.jpg"); */
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  /* --image: url("../night.jpg"); */
}

#darkMode {
  /* background: transparent url("../moon.png") no-repeat center; */
  background-color: aqua;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: red;
}



/* SCROLL BAR */
* {
  font-family: 'Lato', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color:#f7c761;
    border-radius: 20px;
  }
  /* SCROLL BAR */

#classicformpage{
    background-image: url("./images/banner9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
  }

  #classicformpage2 {
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh !important;
    background-attachment: fixed;
  }

  .space{
      letter-spacing: 12px ;
      font-weight: bolder ;
      font-size: 23px;
  }
  
  .serv{
      background-color: #f7c761 !important;
      color: white !important;
  }

@media only screen and (min-width: 760px),(min-device-width: 760px) {
    .divi {
        width: 90% !important;
  }
}

.footer{
  background-color: #f7c761 !important;
}

button.rec-dot{
  background-color: rgb(235, 16, 16);
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
  display: none !important;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgba(235,16,16,0.5);
  display: none !important;
}

.title{
  color:#f7c761;
}
.title-small{
  font-size: 14px;
  font-weight: lighter;
}

.section{
  background-color: #FBFBFB;
  color: black !important;
  text-align: center;
}
.sectionSpace{
  letter-spacing: 10px ;
  font-weight: bolder;
  font-size: 30px;
}

.wedding-card{
  background-color: #FBFBFB !important;
}

.navbar-toggler{
  background-color: black !important;
}

.package-background-one {
	animation: package-background-one 6s linear infinite alternate both;
}

@keyframes package-background-one {
  0% {
    background: #5F3F50;
  }
  33.3333% {  
    background: #9E9771;
  }
  66.666% {  
    background: #80C5E3;
  }
  100% {
    background: #058337;
  }
}

.package-background-two {
	animation: package-background-two 6s linear infinite alternate both;
}

@keyframes package-background-two {
  0% {
    background: #058337;
   
  }
  33.3333% {
    background: #80C5E3;
  }
  66.666% {
    background: #5F3F50;
  }
  100% {
    background: #9E9771;  
  }
}

.package-background-three {
	animation: package-background-three 6s linear infinite alternate both;
}

@keyframes package-background-three {
  0% {
    background: #9E9771;
   
  }
  33.3333% {
    background: #058337;
  }
  66.666% {
    background: #80C5E3;
  }
  100% {
    background: #5F3F50;
   
  }
}

.heading-background{
  position: fixed;
  opacity: 0.1;
  font-size: 13em;
  left:-0.1em;
  top:-0.5em;
  z-index: -100;
  color:#9352ae;
 
}